a:link, a:visited {
    font-weight:bold;
    color:#FFFFFF;
    background-color:#98bf21;
}

#box {
   width:20%;
   margin-top:5%;
   margin-left:39%;
   font:40px;
   padding:10px;
   text-align: center;
}

#box a {
   display:block;  
   width:95%;
   text-align:center;      
   padding:4px;
   text-decoration:none;
   border:2px solid #ffffff;
   border-radius: 4px;
   box-shadow: 6px 6px 8px #888888;
}
               
a:hover, a:active {
   background-color:#7A991A;
}

.atlwdg-trigger.atlwdg-TOP {
    padding: 10px;
}

#passwords {
   font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
   width:100%;
   border-collapse:collapse;
}

#passwords td, #passwords th {
   font-size:1em;
   border:1px solid #98bf21;
   padding:3px 7px 2px 7px;
}

#passwords th  {
   font-size:1.1em;
   text-align:left;
   padding-top:5px;
   padding-bottom:4px;
   background-color:#98bf21;
   color:#ffffff;
}

#passwords tr.alt td {
   color:#000000;
   background-color:#EAF2D3;
}

p {
   text-align:center;
   font-weight:bold;
   color:#98bf21;
}

#footer {
   width:100%;
   text-align: center;
   position:fixed;
   margin-bottom:2%;
   font-weight:bold; 
   color: #ccc;
   bottom:0px;
   font:20px arial,sans-serif;
}
